.navbar{
    padding-left: 50px;
}

.navbar-nav{
    padding-left: 10px;
}

.nav-item{
    padding-left: 30px;
}



.name{
    padding-top: 11px;
    margin-left: 30px;
}

.helpname{
    margin-top: 1px;
    margin-left: 30px;
}


#image{
    height: 60px;
    width: 70px;
}


.btn-add{
    border: none;
}

.btn:focus{
    outline: none;
    border: none;
}

.btn{
    border: none;
}